#logo {
  padding-top: 20px;
}

label {
  font-family: Nunito;
  font-weight: bold;
  font-size: x-large;
}

#main-label {
  padding: 0 20px;
}

label.score {
  font-size: 800%;
}

#cancel-game {
  margin-bottom: 20px;
}

.cell {
  font-size: 500%;
}
